{% extends 'main/layout.html' %}

{% block title %}Email{% endblock %}

{% block content %}
    <div class="email_detail">
        <b>Sender:</b><br>
        <div class="email_sender">
            {{email.sender}}
        </div>
        <b>Recipient:</b><br>
        <div class="email_recipient">
            {{email.recipient}}
        </div>
        <b>Topic:</b><br>
        <div class="email_topic">
            {{email.topic}}
        </div>
        <b>Date:</b><br>
        <div class="email_date">
            {{email.date}}
        </div>
        <b>Mail:</b><br>
        <div class="email_text">
            {{email.text}}
        </div>
    </div>
    <div class="delete">
        <a href="{% url 'email-delete' email.id %}"><button class="btn_delete">Delete Mail</button></a>
    </div>
{% endblock %}
