{% extends 'main/layout.html' %}

{% block title %}Inbox{% endblock %}

{% block folder %}Inbox{% endblock %}

{% block content %}
    <div class="refresh">
        <a href="{% url 'inbox' %}"><button class="btn_refresh">Refresh</button></a>
    </div>
    <div class="emails_list">
        {% for email in emails %}
            <div class="email">
                <a href="{% url 'email' email.id %}"><b>{{ email.topic }}</b> {{ email.text|slice:":20" }} <b>{{ email.date }}</b></a>
            </div>
        {% empty %}
            MailBox is empty
        {% endfor %}
    </div>
{% endblock %}
