{% extends 'login/layout.html' %}

{% block title %}SignIn{% endblock %}

{% block content %}

    <div class="home_in">
        <strong>Sign In</strong>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="input_log">
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Login" class="log">
        </div>
        <div class="input_passw">
            <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Password" class="passw">
        </div>
        <div class="error">
            <p>*Incorrect Username or Password</p>
        </div>
        <div class="sign_in">
            <input class="btn_in" type="submit" value="Sign In">
        </div>
    </form>
    <div class="back">
        <a href="{% url 'home' %}"><button class="btn_back">Back</button></a>
    </div>

{% endblock %}
