{% extends 'login/layout.html' %}

{% block title %}SignUp{% endblock %}

{% block content %}

    <div class="home_up">
        <strong>Sign Up</strong>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="input_log">
            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" placeholder="Login" class="log">
        </div>
        <div class="input_passw">
            <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Password" class="passw">
        </div>
        <div class="input_passwconf">
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="Password Confirmation" class="passwconf">
        </div>
        <div class="error">
            <p>*Incorrect values</p>
        </div>
        <div class="sign_up">
            <input class="btn_up" type="submit" value="Sign Up">
        </div>
    </form>
    <div class="back">
        <a href="{% url 'home' %}"><button class="btn_back">Back</button></a>
    </div>

{% endblock %}
