{% extends 'login/layout.html' %}

{% block title %}SignIn{% endblock %}

{% block content %}
    <div class="home_in">
        <strong>Sign In</strong>
    </div>
    <div class="input_log">
        <input maxlength="30" size="40" placeholder="Login" class="log">
    </div>
    <div class="input_passw">
        <input maxlength="30" size="40" placeholder="Password" class="passw">
    </div>
    <div class="sign_in">
        <button class="btn_in">Sign In</button>
    </div>
    <div class="back">
        <button class="btn_back">Back</button>
    </div>
{% endblock %}